%h1 Create New Movie

= form_tag movies_path, :method => :post do

  = render :partial => 'movie_form'

  %h2
    = submit_tag 'Save Changes' ,  class: 'btn', target: "_blank"
    = link_to 'Cancel' , movies_path ,  class: 'btn', target: "_blank"