/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* Simple CSS styling for RottenPotatoes app */
/* Add these lines to app/assets/stylesheets/application.css */

html, body {
    margin: 0;
    padding: 0;
    background: White;
    color: DarkSlateGrey;
    font-family: Tahoma, Verdana, sans-serif;
    font-size: 12pt;
  }
  div#main {
    margin: 0;
    padding: 0 20px 20px;
  }
  a {
    background: transparent;
    color: black;
    text-decoration: underline;
    font-weight: bold;
  }
  h1 {
    color: black;
    font-size: 150%;
    font-style: italic;
    display: block;
    width: 100%;
    border-bottom: 1px solid DarkSlateGrey;
  }
  h2 {
    background: transparent;
    color: black;
    text-align: center;
    font-weight: bold;
  }
  h1.title {
    margin: 0 0 1em;
    padding: 10px;
    background-color: orange;
    color: white;
    border-bottom: 4px solid gold;
    font-size: 2em;
    font-style: normal;
    
  }
  h3#banner a{
    color: black;
    font-size: 200%;
    margin-left: 20px;
    text-decoration: none;
  }
  h3#banner a:hover{
    border-bottom: 3px solid black;
  }
  h4{
    position: absolute;
    top: 15px;
    right: 30px;
    width: 300px;
    height: 200px;
    font-size: 1em;
    text-align: right;
  }
  h5{
    color: black;
    font-size: 140%;
    font-style: normal;
    display: block;
    width: 100%;
  }
  p.a{
    color: black;
    font-size: 110%;
    font-style: normal;
    display: block;
  }
  table#movies {
    margin: 10px;
    border-collapse: collapse;
    width: 100%;
    font-size: 20px;
    border-bottom: 2px solid black;
  }
  table#movies th {
    border: 2px solid white;
    color: white;
    font-weight: bold;
    background-color: black;
  }
  table#movies th, table#movies td {
    padding: 4px;
    text-align: left;
  }
  table#movies tr:nth-child(even){background-color: #f2f2f2c5;}
  table#movies tr:hover {
    background-color: rgba(202, 202, 202, 0.657);
  }
  #notice, #warning {
    background: rosybrown;
    margin: 1em 0;
    padding: 4px;
  }
  form label {
    display: block;
    line-height: 25px;
    font-weight: bold;
    color: black;
  }
  .btn {
    background-color:rgba(0, 0, 0, 0.705);
    border: none;
    color: white;
    padding: 12px 26px;
    text-align: center;
    font-size: 70%;
    margin: 4px 2px;
    opacity: 1;
    transition: 0.5s;
  }
  
  .btn:hover {opacity: 0.6}

  .btns {
    background-color:rgba(0, 0, 0, 0.705);
    border: none;
    color: white;
    padding: 6px 13px;
    text-align: center;
    font-size: 80%;
    margin: 0px 0px;
    opacity: 1;
    transition: 0.5s;
  }
  
  .btns:hover {opacity: 0.6}

  .disc {
    background-color:rgb(255, 255, 255);
    color:rgb(0, 0, 0);
    font-size: 14px;
    width: 400px;
    height: auto;
    margin: 5px 5px;
    padding: 7px 7px;
    outline-style: solid;
    outline-color: rgb(0, 0, 0);
    outline-width: 4px;
  }