%label{:style => "float:left; padding: 0px 0px;"} How many potatoes:

-if @moviegoer_reviews
  = select_tag 'reviews[potatoes]', options_for_select((1..5), @moviegoer_reviews.potatoes)
-else
  = select_tag 'reviews[potatoes]', options_for_select(1..5)

%br
  %br
    %label Comments
    = text_area :reviews, :comments